@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: dark
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hover-scale-125 {
  @apply hover:scale-125 cursor-pointer ease-in-out transition-all
}

.hover-scale-115 {
  @apply hover:scale-[115%] cursor-pointer ease-in-out transition-all
}